.member_edit_header{
	margin-bottom: 50px;
}

.member{
	padding:20px 5px;
	border:1px solid #ececec;
	border-radius: 10px;
	margin:10px 0;
}
#page-wrapper{
	min-height: 630px;
}
.changes.count{
	margin-bottom: 20px;
}
.title-one{
	display: inline-block;
	font-size: 32px;
	font-weight: 600;
	padding-bottom: 10px;
	text-align: center;
	text-transform: uppercase;
	position: relative;
}